/* Starting at Section 16 #127 Firebase and Firestore database tutorials */
/* #127. NoSQL Databases */
/* #128. Firebase & Firestore */
/* #129. Connecting to Firestore */
/* #130. Getting Collections */
h1{
    text-align: center;
    color: darkviolet;
}
h2{
    text-align: center;
    color: darkviolet;
}
ul{
    text-align: center;
    color: darkviolet;  
}